<div class="page-header">
  <h1>
    Activities
    <a href="/activities/new" class="btn btn-lg btn-success">New Activity</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "activities_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>

<div class="form-group">
    <%= f.label :cost_level_cont, "Cost level contains" %>
    <%= f.text_field :cost_level_cont, :class => "form-control", :placeholder => "Cost level contains" %>
  </div>

<div class="form-group">
  <%= f.label :duration, "Duration" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :duration_gteq, :class => "form-control", :placeholder => "Duration greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :duration_lteq, :class => "form-control", :placeholder => "Duration less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
        <%= f.label :meet_time, "Meet time" %>
        <div class="row">
          <div class='col-md-6 mb-1'>
            <div class='input-group date' id='meet_timegteqPicker'>
              <%= f.text_field :meet_time_gteq, :class => "form-control", :placeholder => "Meet time greater than or equal to" %>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-time"></span>
              </span>
              <script type="text/javascript">
                $(function () {
                    $('#meet_timegteqPicker').datetimepicker({
                      format: 'LT'
                    });
                });
              </script>
            </div>
          </div>
          <div class='col-md-6'>
            <div class='input-group date' id='meet_timelteqPicker'>
              <%= f.text_field :meet_time_lteq, :class => "form-control", :placeholder => "Meet time less than or equal to" %>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-time"></span>
              </span>
              <script type="text/javascript">
                $(function () {
                    $('#meet_timelteqPicker').datetimepicker({
                      format: 'LT'
                    });
                });
              </script>
            </div>
          </div>
        </div>
      </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :category_name_cont, "Category name contains" %>
      <%= f.text_field :category_name_cont, :class => "form-control", :placeholder => "Category name contains" %>
    </div>

<div class="form-group">
          <%= f.label :created_at, "User Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='proposergteqcreated_atPicker'>
                  <%= f.text_field :proposer_created_at_gteq, :class => "form-control", :placeholder => "User Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='proposerlteqcreated_atPicker'>
                  <%= f.text_field :proposer_created_at_lteq, :class => "form-control", :placeholder => "User Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#proposergteqcreated_atPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#proposerlteqcreated_atPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#proposergteqcreated_atPicker').on("dp.change", function (e) {
                  $('#proposerlteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#proposerlteqcreated_atPicker').on("dp.change", function (e) {
                  $('#proposergteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
          <%= f.label :created_at, "User Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='inviteesgteqcreated_atPicker'>
                  <%= f.text_field :invitees_created_at_gteq, :class => "form-control", :placeholder => "User Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='inviteeslteqcreated_atPicker'>
                  <%= f.text_field :invitees_created_at_lteq, :class => "form-control", :placeholder => "User Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#inviteesgteqcreated_atPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#inviteeslteqcreated_atPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#inviteesgteqcreated_atPicker').on("dp.change", function (e) {
                  $('#inviteeslteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#inviteeslteqcreated_atPicker').on("dp.change", function (e) {
                  $('#inviteesgteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/activities" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#activities_filters">
      Show Filters
    </a>
  </div>
</div>


<div class="row m-b-2">
  <div class="col-md-12">
    <div>
      <div id="location_map" style="height: 480px;"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Category</th>
        <th>Meet time</th>
        <th>Proposer</th>
        <th>Visual</th>
        <th>Duration</th>
        <th>Cost level</th>
        <th>Actions</th>
      </tr>

      <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.address %></td>
        <td>
          <% if activity.category.present? %>
            <a href="/categories/<%= activity.category.id %>">
              <%= activity.category.name %>
            </a>
          <% end %>
        </td>
        <td><%= activity.meet_time %></td>
        <td>
          <% if activity.proposer.present? %>
            <a href="/users/<%= activity.proposer.id %>">
              <%= activity.proposer.created_at %>
            </a>
          <% end %>
        </td>
        <td><img src='<%= activity.visual %>' class='img-responsive'></td>
        <td><%= activity.duration %></td>
        <td><%= activity.cost_level %></td>
        <td>
          <a href="/activities/<%= activity.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == activity.proposer %>
            <a href="/activities/<%= activity.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_activity/<%= activity.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @activities, theme: 'twitter-bootstrap-4' %>
  </div>
</div>

<script src="//maps.google.com/maps/api/js?v=3.24&key=AIzaSyCOTPWiuvyyo6sKoIBzKA4-1ol-vTOIOlM"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'location_map'}}, function(){
    markers = handler.addMarkers(<%= raw @location_hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>