<div class="page-header">
  <h1>
    Activities
    <a href="/activities/new" class="btn btn-lg btn-success">New Activity</a>
  </h1>
</div>


<div class="row m-b-2">
  <div class="col-md-12">
    <div>
      <div id="location_map" style="height: 480px;"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Category</th>
        <th>Meet time</th>
        <th>Proposer</th>
        <th>Visual</th>
        <th>Duration</th>
        <th>Cost level</th>
        <th>Actions</th>
      </tr>

      <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.address %></td>
        <td><%= activity.category.name %></td>
        <td><%= activity.meet_time %></td>
        <td><%= activity.proposer.created_at %></td>
        <td><img src='<%= activity.visual %>' class='img-responsive'></td>
        <td><%= activity.duration %></td>
        <td><%= activity.cost_level %></td>
        <td>
          <a href="/activities/<%= activity.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == activity.proposer %>
            <a href="/activities/<%= activity.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_activity/<%= activity.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @activities, theme: 'twitter-bootstrap-4' %>
  </div>
</div>

<script src="//maps.google.com/maps/api/js?v=3.24&key=AIzaSyCOTPWiuvyyo6sKoIBzKA4-1ol-vTOIOlM"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'location_map'}}, function(){
    markers = handler.addMarkers(<%= raw @location_hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>